* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box; }

.section-all {
  background-image: url(../images/22076005.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100%;
  height: 55vw;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.nav-asic {
  background-image: url(../images/asic.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100%;
  height: 55vw;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.nav-gpu {
  background-image: url(../images/gpu.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100%;
  height: 55vw;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.navbar-light .navbar-toggler-icon {
  border-color: white !important; }

.navbar {
  padding-top: 20px;
  padding-bottom: 20px; }

.navbar-brand {
  display: flex;
  align-items: center; }
  .navbar-brand img {
    margin-right: 20px;
    margin-left: 10px; }

.navbar-toggler {
  border-color: white; }

.navbar-toggler-icon {
  background-image: url("./images/hamburger-menu.png");
  background-repeat: no-repeat;
  width: 20px;
  height: 20px; }

.navbar-toggler:focus .navbar-toggler-icon,
.navbar-toggler:active .navbar-toggler-icon,
.navbar-toggler:hover .navbar-toggler-icon {
  background-image: url("./images/hamburger-menu-hover.png"); }

.navbar-nav {
  display: flex;
  align-items: center; }

.nav-link {
  margin-left: 30px;
  margin-right: 30px;
  color: #fffbfb;
  font-size: 100px;
  font-weight: 600; }

.navbar-nav .nav-link {
  color: white !important;
  font-size: 25px;
  margin-right: 20px; }

.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e"); }

@media (max-width: 991px) {
  .navbar-collapse {
    background-color: rgba(182, 182, 220, 0.772);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000; }
  .navbar-nav {
    margin-top: 20px;
    flex-direction: column; }
  .nav-link {
    margin: 0px;
    padding-top: 12px; }
  .btn {
    padding: 8px 16px;
    font-size: 14px; }
  .text-center {
    font-size: 15px; }
  .us-row .row {
    flex-direction: column; } }

.btn {
  font-size: 25px;
  background-color: white;
  color: black;
  border-radius: 1pc;
  margin: 30px 40px 60px; 
}

.btn-cont button:hover {
  background-color: #5d095d;
  color: white;
  scale: 1.05; 
}

.btn-cont button:active {
  scale: 0.95; 
}

.container-start {
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px; }

.container-form {
  margin: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  border: 1px solid black;
  background-image: url(../images/Logo2.jpeg);
  background-size: 100%; }

form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  font-weight: bold; }
  form input {
    padding: 8px;
    margin: 10px 0; }

label {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  color: white; }

.slider {
  animation: slidein 30s linear infinite;
  white-space: nowrap; }

.logos {
  width: 100%;
  display: inline-block; }
  .logos img {
    width: 50px;
    margin: 0 15px; }

.fab {
  width: calc(1% / 5); }

.container-hero {
  margin: 4rem auto;
  display: flex;
  align-items: center;
  padding: 32px; }

.img-spec {
  margin-bottom: 2rem; }

.some-text {
  padding-right: 10rem;
  display: flex;
  align-items: center; }

.btn-2 {
  padding: 8px 24px;
  margin: 2rem;
  border-radius: 8pc;
  background-color: white;
  color: black;
  font-size: larger;
  font-weight: bolder; }

.container-about {
  margin: 64px 0;
  padding: 32px;
  display: flex;
  align-items: center;
  gap: 32px; }

.us-box {
  color: black; }

.tabla-asic {
  margin: 2rem;
  border: 1px solid black;
  width: 40rem;
  height: 20rem;
  padding: 2rem;
  text-align: center;
  border-spacing: 20px; }
  .tabla-asic th,
  .tabla-asic td {
    border: 1px solid #ccc; }

.tabla-gpu {
  margin: 2rem;
  border: 1px solid black;
  width: 40rem;
  height: 20rem;
  padding: 2rem;
  text-align: center;
  border-spacing: 20px; }
  .tabla-gpu th,
  .tabla-gpu td {
    border: 1px solid #ccc; }

.image-asic {
  margin: 2rem;
  padding: 20px;
  display: flex;
  align-items: center; }

.image-gpu {
  margin: 2rem;
  padding: 20px;
  display: flex;
  align-items: center; }

h2 {
  margin: 10px;
  padding-top: 50px;
  text-align: center;
  color: white; }

@keyframes slidein {
  from {
    transform: translate3d(0, 0, 0); }
  to {
    transform: translate3d(-100%, 0, 0); } }

@keyframes fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
