.container-hosting {
    margin: 64px 0;
    padding: 32px;
    display: flex;
    align-items: center;
    gap: 32px;
  
    .descripcion {
      margin: 40px auto;
      max-width: 800px;
      
      .hosting-title {
        font-size: 32px;
        margin-bottom: 20px;
        color: black !important;
      }
      
      p {
        font-size: 18px;
        line-height: 1.5;
        margin-bottom: 20px;
      }
    }
}