.container-hosting {
    padding: 32px;
    display: flex;
    align-items: center;
    gap: 32px;
    background-image: url(../images/host.png);
    background-position: right;
    background-repeat: no-repeat;
    background-color: rgb(56, 26, 101);
    width: 100%;
    color: white;
  
    .descripcion {
      margin-left: 10px;
      max-width: 800px;

      
      .hosting-title {
        font-size: 32px;
        margin-bottom: 20px;
        color: rgb(255, 255, 255) !important;
      }
      
      p {
        font-size: 18px;
        line-height: 1.5;
        margin-bottom: 20px;
      }
    }
}