

.slider {
    animation: slidein 30s linear infinite;
    white-space: nowrap;
}
  
.logos {
    width: 100%;
    display: inline-block;
  
    img {
      width: 50px;
      margin: 0 15px;
    }
}
  
.fab {
    width: calc(1% / 5);
}
  
.container-hero {
    position: relative;
    margin: 2rem auto;
    display: flex;
    align-items: center;

    h2.text-center {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      
    
    }

}
  
@keyframes slidein {
    from {
      transform: translate3d(0, 0, 0);
    }
    to {
      transform: translate3d(-100%, 0, 0);
    }
}
  

@keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}

.container-start {
  background-image: linear-gradient(rgba(55, 9, 238, 0.421),lightblue, white);
  max-width: 100%;

  
  .image-mine .image-host {
    width: 30vw;
    height: 20vw;
    transition: height 2s;
    border-radius: 8%;
    animation: entrada 5s;
    gap: 6rem;
  }
  


  @keyframes entrada {
    0% {
      transform: scale(0.5);
      opacity: 0;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }
  
  .mine-host {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 2rem;
    max-width: 100%;
    margin: 2rem auto;

  }
  
  .card {
    margin: 2rem auto;
  }

  .mineria .hosting {
    overflow: hidden;
    float: right;
    margin: 2rem auto;
    animation: entrada 5s;
    gap: 2rem;
  }
  
  @keyframes entrada {
    0% {
      transform: translateY(-100%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  

  
  @keyframes entrada {
    0% {
      transform: translateX(-100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  
}  


.container-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  border: 1px solid black;
  background-image: url(../images/Logo2.jpeg);
  background-position: center;

  .h2-form {
    color: white;
    
  }

}

form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  font-weight: bold;

  input {
    padding: 8px;
    margin: 10px 0;
  }
}

label {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  color: white;
}


.btn-2{
  padding: 8px 24px;
  margin: 2rem;
  border-radius: 8pc;
  background-color: transparent;
  color: rgb(255, 255, 255);
  font-size: larger;
  font-weight: bolder;
}

.container-end {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100px;
  background-color: rgba(128, 128, 128, 0.1);  
}

footer {
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  align-items: center;
  

  
  h3 {
    font-size: 1.5rem;
    margin: 1rem;

  }
  
  .redes-sociales {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4rem;
    margin-right: 2rem;
    
    
    li {
      margin: 0 10px;
      transition: all 0.3s ease-in-out;
      list-style: none;
      
      &:hover {
        transform: translateY(-3px);
      }
      
      a {
        display: block;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        overflow: hidden;


        
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
}

